<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="SqlConn" value="server=localhost;database=MutuERP;uid=sa;pwd=123456"/>
    </appSettings>
</configuration>
